body{
	margin:0;
	padding:0;
	background:#ffffff;
}
.content{
	width:100em;
	height:auto;
}
.goods-color-list {
	max-width: 20em;
	margin-left: 1.5em;
	/* text-align: center; */
}
.goods-color-list li {
	display: inline;
	width: auto;
}
/* .goods-color-list li a {
	padding: 1em;
	border: 1px solid #bcc1c8;
	width: 3em;
} */
.product_list_area{
	/* min-width: 800px; */
	max-width: 80em;
	width: auto;
	height: auto;
	float:right;
	/*background-color:#cccccc;*/
	margin-top:91px;
	min-height:400px;
}
.page_area{
	width:740px;
	height:40px;
	margin-top:20px;
	float:right;
	border-top: 1px solid #000;
}
.goods_item{
	float: left;
    height: 50em;
    margin: 0 0 30px;
    padding: 5px 1em;
    vertical-align: top;
    width: auto;
    margin-bottom: 5em;
    /* max-width: 30%; */
}
.goods_item .proprites .button {
    color: #EEEEEE;
    display: block;
    width: 70%;
    padding: 1em 2em;
    background-color: #666;
    text-align: center;
    margin: 1em;
}
.goods_item .proprites a {
	text-decoration: none;
}
.goods_item .img,
.goods_item .img a img
{
	min-width: 24em;
	height: auto;
	/* width:180px; */
	/* height:250px; */
	/*background-color:#999999;*/
}

.goods_item .price,.goods_item .title{
	width:auto;
	padding-left: 2.5em;
	/*height:15px;*/
	/*background-color:#eee;*/
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
}

.color-thumb-warr {
	padding: 0.25em;
	border: 1px solid gray;
	display: inline-block;
	margin-bottom: 0.1em;
}

.color-thumb-warr:hover {
	border-color: orange;
}

.color-thumb {
	background-size: auto;
	display: inline-block;
	background-position: center center;
	width: 3em; 
	height: 3em;
	background-repeat: no-repeat;
}