body{
	margin:0;
	padding:0;
	background:#ffffff;
}
.content{
	width:100em;
	height:auto;
	min-height:800px;
	overflow:hidden;
	
}

.goods_img_area {
	width: 56em;
	height:auto;
	text-align: center;
	margin-top:9em;
	float:right;
	overflow: hidden;
}

.goods_img_area .MagicZoomPlus img {
	max-width: 600px;
}

.goods_detail_area{
	width:30em;
	height:800px;
	float:right;
	margin-top:91px;
	padding-left: 1em;
}
.goods_detail{
	width: 30em;
	height:780px;
	z-index: 99;
	position:fixed;
}
.goods_detail .title{
	margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#222222;
}
.goods_detail .price{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#222222;

}
.goods_detail .color{
	width:330px;
	margin-top:20px;
	margin-left:10px;
	
}
.color .color_area{
	width:100px;
	
	float:left;
	border:1px solid #fff;
	cursor:pointer;
        overflow: hidden;

}

.zoom-toggle {
	cursor:pointer;
	color: gray;
}

.zoom-toggle a:hover {
	color: orange;
}

.zoom-toggle a {
	/* background-image: url("../images/icon-zoom.png"); */
	background-image: url("../images/icon_zoom.png");
	display: block;
	width: 60px;
	height: 26px;
	overflow: hidden;
}

.zoom-toggle a.zoom {
	background-position: top center;
}

.zoom-toggle a.disable-zoom {
	background-position: bottom center;
}

.zoom-toggle a span {
	opacity: 0;
}

.color .color_area .color_card {
	height: auto;
	max-height: 166px;
	overflow: hidden;
}

.color .color_area .color_card img{
	/*width:98px; */
	height:170px;
        position:relative;

}
.color .color_area .color_sign{
	width:90px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:12px;
	text-align:center;
	margin-top:10px;
	padding-bottom:10px;

}
.goods_detail .type{
	margin-top:20px;
	margin-bottom:30px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:11px;
	color:#222222;
}
.goods_detail .size_dec{
	width: 100%;
	border-bottom: 1px solid #dddddd;
}
.size_dec {
	float: left;
}
select#goods-size-list {
	width: 100%;
	margin-top: 1em;
}
.size_dec span.title {
	font-weight: bold;
	margin-top: 0;
	width: auto;
}

.size_dec .size,.size_dec .dec{
	width: 100%;
	/* height:28px; */
	/* margin-left:30px; */
	/* background-color:#dddddd; */
	display:inline-block;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#222222;
	/* text-align: left; */
	/* line-height:25px; */
	cursor:pointer;
	/* border-bottom: 1px solid #dddddd; */
	/* -moz-border-radius: 6px;      Gecko browsers
    -webkit-border-radius: 6px;   Webkit browsers
    border-radius:6px;            W3C syntax */
}
.size_dec .size {
	width: auto;
}

.size_dec .size:hover,.size_dec .dec:hover{
	/* background-color:#999999;
	border: 1px solid #999999; */
	/* -moz-border-radius: 6px;      Gecko browsers
    -webkit-border-radius: 6px;   Webkit browsers
    border-radius:6px;            W3C syntax */

}

.size_dec .arrow {
	vertical-align: middle;
	width: 1.6em;
	height: 1.6em;
	display: inline-block;
	background-repeat: no-repeat;
}

.size_dec .arrow {
	background-image: url("../images/icon_arrow_right.png");
}

.size_dec .arrow.open {
	background-image: url("../images/icon_arrow_down.png");
}

.goods_detail .basket_wish{
	width:340px;
	height:30px;

	margin-top:20px;
}
.basket_wish .basket,.basket_wish .wish{
	/*
	width:90px;
	height:28px;
	*/
	
	background-color:#555;
	display:block;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#eee;
	text-align:center;
	line-height:25px;
	cursor:pointer;
	padding:3px 8px 3px 8px;
	border: 1px solid #555555;
	/* -moz-border-radius: 6px;      Gecko browsers
    -webkit-border-radius: 6px;   Webkit browsers
    border-radius:6px;            W3C syntax */

}
.basket_wish .basket{
	margin-left:43px;
}
.basket_wish .wish{
	margin-left:50px;
}
.basket_wish .basket:hover,.basket_wish .wish:hover{
	background-color:#333;
	border: 1px solid #333333;
	/* -moz-border-radius: 6px;      Gecko browsers
    -webkit-border-radius: 6px;   Webkit browsers
    border-radius:6px;            W3C syntax */
}
/* Fix Chinese charset */
.size_dec_boder{
	background-color: #DDDDDD;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
	
}
.size_list{
	width: 100%;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;

	/* border-left:1px solid #000000;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000; */
}
.size_list table{
	width:340px;
	height:28px;
	
}
.size_list table tr{
	width:340px;
	height:24px;
	
	
}
.size_list table tr td{
	width:40px;
	height:24px;
	text-align:center;
	cursor: pointer;
}
.size_list table tr td:hover{
	background-color:#999999;
}
.size_list table tr td a,a:hover,a:link,a:active{
	
	font-size:13px;
	text-decoration:none;
	color:#000000;

}

#opensize_box{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
	
}
#opensize_box ul li{
	float:left;
	margin-left:10px;
}

#opensize_box a{
	text-decoration:none;
 	color: #000000;
}
#opensize_box a:hover{
	color:#666666;
}
.goods_image_zoom,
.goods_relate{
	float: right;
	margin-right:340px;
    height:300px;
    width: 55em;

}
.goods_image_zoom {
	height: auto;
}

.goods_relate .wear_it_with{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#000000;
	padding-bottom:20px;
	font-weight:bold;



}
.goods_relate img{
	height: 170px;
    width: 98px;
}

/* .nav-postion {
	position: fixed;
	top: 7.5em;
	width: 100em;
	margin: 0 auto;
	text-align: left;
	background-color: white;
	z-index: 99;
} */

/* .MagicThumb-expanded {
	min-width: 60em !important;
} */