.content{
	width:958px;
	height:auto;
	
}
.product_list_area{
	max-width: 800px;
	min-width: 800px;
	width: auto;
	height: auto;
	float:right;
	/*background-color:#cccccc;*/

	min-height:400px;
}
.page_area{
	width:740px;
	height:40px;
	margin-top:20px;
	float:right;
	border-top: 1px solid #000;
}
.goods_item{
	float: left;
    height: auto;
    margin: 0 0 30px;
    padding: 5px 1em;
    vertical-align: top;
    width: auto;
}
.goods_item .img,
.goods_item .img a img
{
	min-width: 20em;
	height: auto;
	/* width:180px; */
	/* height:250px; */
	/*background-color:#999999;*/
}

.goods_item .price,.goods_item .title{
	width:180px;
	
	/*background-color:#eee;*/
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
}