#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"Microsoft YaHei","Times New Roman",Times,serif;font-weight:200;color:#fff;}

#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}

#sb-overlay{position:relative;height:100%;width:100%;}

#sb-wrapper{position:absolute;visibility:hidden;width:100px;}

#sb-wrapper-inner{position:relative;border-bottom:26px solid #ffffff;border-left:26px solid #ffffff;border-right:26px solid #ffffff;overflow:hidden;height:100px;}



#sb-body{position:relative;height:100%;background-color: #FFFFFF;}



#sb-body-inner{position:absolute;height:100%;width:100%;}

#sb-player.html{height:100%;overflow:auto;}

#sb-body img{border:none;}

#sb-loading{position:relative;height:100%;}

#sb-loading-inner{position:absolute;font-size:14px;line-height:32px;height:32px;top:50%;margin-top:-12px;width:100%;text-align:center;}

#sb-loading-inner span{background:url(./images/shadowimg/loading.gif) no-repeat;padding-left:34px;display:inline-block;}

#sb-body,#sb-loading{background-color:#ffffff;}

#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}

#sb-title,#sb-title-inner{height:32px;line-height:32px;}

#sb-title-inner{font-size:16px;;}

#sb-info,#sb-info-inner{height:32px;line-height:26px; background-color:#FFFFFF;}

#sb-info-inner{font-size:17px;padding-top:5px}

#sb-nav{float:right;height:26px;padding:2px 0;width:45%;}

#sb-nav a{display:block;float:right;height:22px;width:22px;margin-left:5px;cursor:pointer;background-repeat:no-repeat;}

#sb-nav-close{background-image:url(./images/shadowimg/close.png);}

#sb-nav-next{background-image:url(./images/shadowimg/next.png);}

#sb-nav-previous{background-image:url(./images/shadowimg/previous.png);}

#sb-nav-play{background-image:url(./images/shadowimg/play.png);}

#sb-nav-pause{background-image:url(./images/shadowimg/pause.png);}

#sb-counter{float:left;width:45%;margin-left:18px;}

#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#6f6f6f;}

#sb-counter a.sb-counter-current{color:#000000;}

div.sb-message{font-size:12px;padding:10px;text-align:center;}

div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}

